<div class="header">
    <h1 style="margin: 0;" class="pull-left">Сводная информация</h1>
    <div class="pull-right" style="margin-top: 12px; display: block;">
        <a href="<?=$this->prevUrl ?>"><i class="fa fa-angle-double-left"></i></a>&nbsp;&nbsp;&nbsp;<?=Date_Service::Get()->getRuMonthName($this->date).', '.date('Y', strtotime($this->date)) ?>&nbsp;&nbsp;&nbsp;<a href="<?=$this->nextUrl?>"><i class="fa fa-angle-double-right"></i></a>
    </div>

    <div class="clearfix"></div>
</div>

<form action="" method="get" class="js-form-filter form-inline">
    <input type="hidden" name="date" value="<?=$this->date?>">
</form>

<div class="js-data"></div>

<script type="text/javascript">
    $(function () {
        loading.show();
        $.post('/admin/ajax-load', $('.js-form-filter').serialize(), function (data) {
            $('.js-data').html(data);
            setTimeout(function () {
                loading.hide();
            }, 300);
        });

        setTimeout(function () {
            loading.hide();
        }, 5000);
    });
</script>