<script type="text/javascript" src="/_js/chart.min.js"></script>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="well">
            <h3 style="text-align: center; margin-top: 0; font-weight: 200;">Анкета заполнена / не заполнена</h3>
            <canvas id="complete" style="width: 100%; height: 300px;"></canvas>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <div class="well">
            <h3 style="text-align: center; margin-top: 0; font-weight: 200;">График по процентам</h3>
            <canvas id="percent_shops" style="width: 100%; height: 300px;"></canvas>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="well">
            <?php if ($this->check_list_type == 'auditor'): ?>
                <h3 style="text-align: center; margin-top: 0; font-weight: 200;">Оценка по региональным менеджерам</h3>
                <small style="display: block; text-align: center; margin-bottom: 10px;">Только заполненные анкеты</small>
                <canvas id="all_rm" style="width: 100%; height: 400px;"></canvas>
            <?php endif; ?>
            <?php if ($this->check_list_type == 'inventory'): ?>
                <h3 style="text-align: center; margin-top: 0; font-weight: 200;">Оценка по главам инв. комисий</h3>
                <small style="display: block; text-align: center; margin-bottom: 10px;">Только заполненные анкеты</small>
                <canvas id="all_president" style="width: 100%; height: 400px;"></canvas>
            <?php endif; ?>

        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="well">
            <?php if ($this->check_list_type == 'auditor'): ?>
                <h3 style="text-align: center; margin-top: 0; font-weight: 200;">Оценки по категориям (РМ)</h3>
                <small style="display: block; text-align: center; margin-bottom: 10px;">Только заполненные анкеты</small>
                <div>
                    <ul  class="nav nav-pills">
                        <?php $ci = 1; foreach ($this->categoryArray as $category): ?>
                            <li class="<? if ($ci == 1): ?>active<?php endif; ?>" style="display: inline-block; float: left;">
                                <a href="#category_<?=$category['id']?>"  class="js-tab" data-toggle="tab"><?=$category['name']?></a>
                            </li>
                        <?php $ci++; endforeach; ?>
                    </ul>

                    <script type="text/javascript">
                        $(function () {
                            $('.js-tab').on('click', function (e) {
                                e.preventDefault();
                            })
                        });
                    </script>

                    <div class="tab-content clearfix">
                        <br>
                        <?php $ci = 1; foreach ($this->categoryArray as $category): ?>
                            <div class="tab-pane active js-tab-pane" id="category_<?=$category['id']; ?>" >
                                <canvas id="category_id_<?=$category['id']?>" style="width: 100%; height: 300px;" ></canvas>
                                <script type="text/javascript">
                                    $(function () {
                                        var ctx = $("#category_id_<?=$category['id']?>");
                                        // ctx.height(300);

                                        var color = Chart.helpers.color;
                                        window.myBar = new Chart(ctx, {
                                            type: 'bar',
                                            data: {
                                                labels: [<?php foreach ($category['items'] as $rm): ?>"<?=$rm['name']?>", <?php endforeach; ?>],
                                                datasets: [
                                                    {
                                                        backgroundColor: [
                                                            <?php foreach ($category['items'] as $rm): ?>
                                                                <?php $percent = number_format(($rm['all_rate'] / $rm['all_cnt']), 2, '.', ''); ?>
                                                                <?php $red = round(255 - ($percent * 2.55)); $green = round($percent * 2.55); ?>
                                                                color('rgb(<?=$red;?>, <?=$green;?>, 30)').alpha(0.5).rgbString(),
                                                            <?php endforeach; ?>
                                                        ],
                                                        yAxisID: "y-axis-1",
                                                        data: [
                                                            <?php foreach ($category['items'] as $rm): ?>
                                                                <?php $percent = number_format(($rm['all_rate'] / $rm['all_cnt']), 2, '.', ''); ?>
                                                                <?php if (Engine::Get()->getConfigField('check_list_type') == 'auditor') $percent = floor($percent); ?>
                                                                <?php print $percent; ?>,
                                                            <?php endforeach; ?>
                                                        ]
                                                    },
                                                ]

                                            },
                                            options: {
                                                responsive: true,
                                                title:{
                                                    display:false,
                                                    text:"Chart.js Bar Chart - Multi Axis"
                                                },
                                                tooltips: {
                                                    mode: 'index',
                                                    intersect: true
                                                },
                                                legend: {
                                                    display: false
                                                },
                                                scales: {
                                                    yAxes: [{
                                                        type: "linear",
                                                        display: true,
                                                        position: "left",
                                                        id: "y-axis-1",
                                                        ticks: {
                                                            min: 0,
                                                            max: 100
                                                        }
                                                    }],
                                                }
                                            }
                                        });
                                    });
                                </script>
                            </div>
                        <?php $ci++; endforeach; ?>

                        <script type="text/javascript">
                            setTimeout(function () {
                                $.each($('.js-tab-pane'), function (i, v) {
                                    var element = $(v);
                                    if (i > 0) element.removeClass('active')
                                });
                            }, 1000);
                        </script>
                    </div>
                </div>
            <?php endif; ?>
            <?php if ($this->check_list_type == 'inventory'): ?>
                <h3 style="text-align: center; margin-top: 0; font-weight: 200;">Оценки по регионам</h3>
                <small style="display: block; text-align: center; margin-bottom: 10px;">Только заполненные анкеты</small>
                <div>
                    <ul  class="nav nav-pills">
                        <?php $ci = 1; foreach ($this->regionArray as $region): ?>
                            <li class="<? if ($ci == 1): ?>active<?php endif; ?>" style="display: inline-block; float: left;">
                                <a href="#category_<?=$region['id']?>"  class="js-tab" data-toggle="tab"><?=$region['name']?></a>
                            </li>
                        <?php $ci++; endforeach; ?>
                    </ul>

                    <script type="text/javascript">
                        $(function () {
                            $('.js-tab').on('click', function (e) {
                                e.preventDefault();
                            })
                        });
                    </script>

                    <div class="tab-content clearfix">
                        <br>
                        <?php $ci = 1; foreach ($this->regionArray as $region): ?>
                            <div class="tab-pane active js-tab-pane" id="category_<?=$region['id']; ?>" >
                                <canvas id="category_id_<?=$region['id']?>" style="width: 100%; height: 300px;" ></canvas>
                                <script type="text/javascript">
                                    $(function () {
                                        var ctx = $("#category_id_<?=$region['id']?>");
                                        // ctx.height(300);

                                        var color = Chart.helpers.color;
                                        window.myBar = new Chart(ctx, {
                                            type: 'bar',
                                            data: {
                                                labels: [<?php foreach ($region['items'] as $items): ?>"<?=$items['name']?>", <?php endforeach; ?>],
                                                datasets: [
                                                    {
                                                        backgroundColor: [
                                                            <?php foreach ($region['items'] as $items): ?>
                                                                <?php $percent = number_format(($items['all_rate'] / $items['all_cnt']), 2, '.', ''); ?>
                                                                <?php $red = round(255 - ($percent * 2.55)); $green = round($percent * 2.55); ?>
                                                                color('rgb(<?=$red;?>, <?=$green;?>, 30)').alpha(0.5).rgbString(),
                                                            <?php endforeach; ?>
                                                        ],
                                                        yAxisID: "y-axis-1",
                                                        data: [
                                                            <?php foreach ($region['items'] as $items): ?>
                                                            <?=number_format(($items['all_rate'] / $items['all_cnt']), 2, '.', ''); ?>,
                                                            <?php endforeach; ?>
                                                        ]
                                                    },
                                                ]

                                            },
                                            options: {
                                                responsive: true,
                                                title:{
                                                    display:false,
                                                    text:"Chart.js Bar Chart - Multi Axis"
                                                },
                                                tooltips: {
                                                    mode: 'index',
                                                    intersect: true
                                                },
                                                legend: {
                                                    display: false
                                                },
                                                scales: {
                                                    yAxes: [{
                                                        type: "linear",
                                                        display: true,
                                                        position: "left",
                                                        id: "y-axis-1",
                                                        ticks: {
                                                            min: 0,
                                                            max: 100
                                                        }
                                                    }],
                                                }
                                            }
                                        });
                                    });
                                </script>
                            </div>
                        <?php $ci++; endforeach; ?>

                        <script type="text/javascript">
                            setTimeout(function () {
                                $.each($('.js-tab-pane'), function (i, v) {
                                    var element = $(v);
                                    if (i > 0) element.removeClass('active')
                                });
                            }, 1000);
                        </script>
                    </div>
                </div>
            <?php endif; ?>

        </div>
    </div>

    <?php if ($this->check_list_type == 'auditor'): ?>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 style="margin: 0;">10 Лучших</h4></div>
                <div class="list-group">
                    <?php $i = 0; foreach ($this->topHigh as $top): ?>
                        <?php if ($i > 9) break; ?>
                        <div class="list-group-item">
                            <strong class="pull-right"><?=number_format($top['rate'], 2, '.', '') ?>%</strong>

                            <small style="float: left;">#<?=$top['number'] ?></small>
                            <br>
                            <div style="float: left;"><?=$top['city'] ?>, <?=$top['address'] ?></div>

                            <div class="clearfix"></div>
                        </div>
                    <?php $i++; endforeach; ?>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 style="margin: 0;">10 Худших</h4></div>
                <div class="list-group">
                    <?php $i = 0; foreach ($this->topLow as $top): ?>
                        <?php if ($i > 9) break; ?>
                        <?php if ($top['rate'] <= 0) continue; ?>
                        <div class="list-group-item">
                            <strong class="pull-right"><?=number_format($top['rate'], 2, '.', '') ?>%</strong>

                            <small style="float: left;">#<?=$top['number'] ?></small>
                            <br>
                            <div style="float: left;"><?=$top['city'] ?>, <?=$top['address'] ?></div>

                            <div class="clearfix"></div>
                        </div>
                        <?php if ($top['rate'] > 0) $i++; ?>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    <?php endif; ?>
</div>

<script type="text/javascript">
    $(function () {
        var color = Chart.helpers.color;
        window.myPolarArea = Chart.PolarArea(document.getElementById("complete"), {
            data: {
                datasets: [{
                    data: [
                        <?=$this->completeCnt['yes']?>, <?=$this->completeCnt['no']?>,
                    ],
                    backgroundColor: [
                        color('rgb(0, 255, 0)').alpha(0.5).rgbString(),
                        color('rgb(255, 0, 0)').alpha(0.5).rgbString(),
                    ],
                }],
                labels: [
                    " Заполнена",
                    " Не заполнена",
                ]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: false,
                },
                scale: {
                    ticks: {
                        beginAtZero: true
                    },
                    reverse: false
                },
                animation: {
                    animateRotate: false,
                    animateScale: true
                }
            }
        });
        <?php if ($this->check_list_type == 'auditor'): ?>
            window.myBar = new Chart(document.getElementById("all_rm"), {
                type: 'bar',
                data: {
                    labels: [<?php foreach ($this->rm_array as $rm): ?>"<?=$rm['name']?>", <?php endforeach; ?>],
                    datasets: [
                        {
                            backgroundColor: [
                                <?php foreach ($this->rm_array as $rm): ?>
                                    <?php $percent = number_format(($rm['all_rate'] / $rm['all_cnt']), 2, '.', ''); ?>
                                    <?php if (Engine::Get()->getConfigField('check_list_type') == 'auditor') $percent = floor($percent); ?>
                                    <?php $red = round(255 - ($percent * 2.55)); $green = round($percent * 2.55); ?>
                                    color('rgb(<?=$red;?>, <?=$green;?>, 30)').alpha(0.5).rgbString(),
                                <?php endforeach; ?>
                            ],
                            yAxisID: "y-axis-1",
                            data: [
                                <?php foreach ($this->rm_array as $rm): ?>
                                    <?php $percent = number_format(($rm['all_rate'] / $rm['all_cnt']), 2, '.', ''); ?>
                                    <?php if (Engine::Get()->getConfigField('check_list_type') == 'auditor') $percent = floor($percent); ?>
                                    <?php print $percent; ?>,
                                <?php endforeach; ?>
                            ]
                        },
                    ]

                },
                options: {
                    responsive: true,
                    title:{
                        display:false,
                        text:"Chart.js Bar Chart - Multi Axis"
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: true
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            type: "linear",
                            display: true,
                            position: "left",
                            id: "y-axis-1",
                            ticks: {
                                min: 0,
                                max: 100
                            }
                        }],
                    }
                }
            });
        <?php endif; ?>

        <?php if ($this->check_list_type == 'inventory'): ?>
            window.myBar = new Chart(document.getElementById("all_president"), {
                type: 'bar',
                data: {
                    labels: [<?php foreach ($this->president_array as $president): ?><?php if($president['all_rate'] && $president['all_cnt']): ?>"<?=$president['name']?>", <?php endif; ?><?php endforeach; ?>],
                    datasets: [
                        {
                            backgroundColor: [
                                <?php foreach ($this->president_array as $president): ?>
                                    <?php if($president['all_rate'] && $president['all_cnt']): ?>
                                        <?php $percent = number_format(($president['all_rate'] / $president['all_cnt']), 2, '.', ''); ?>
                                        <?php $red = round(255 - ($percent * 2.55)); $green = round($percent * 2.55); ?>
                                        color('rgb(<?=$red;?>, <?=$green;?>, 30)').alpha(0.5).rgbString(),
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            ],
                            yAxisID: "y-axis-1",
                            data: [
                                <?php foreach ($this->president_array as $president): ?>
                                    <?php if($president['all_rate'] && $president['all_cnt']): ?>
                                        <?=number_format(($president['all_rate'] / $president['all_cnt']), 2, '.', ''); ?>,
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            ]
                        },
                    ]

                },
                options: {
                    responsive: true,
                    title:{
                        display:false,
                        text:"Chart.js Bar Chart - Multi Axis"
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: true
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            type: "linear",
                            display: true,
                            position: "left",
                            id: "y-axis-1",
                            ticks: {
                                min: 0,
                                max: 100
                            }
                        }],
                    }
                }
            });
        <?php endif; ?>

        window.percentShops = new Chart(document.getElementById("percent_shops"), {
            type: 'bar',
            data: {
                labels: [<?php foreach ($this->shopPercent as $percent): ?>"<?=$percent['name']?> (<?=$percent['max']?>% - <?=$percent['min']?>%)", <?php endforeach; ?>],
                datasets: [
                    {
                        index: [<?php foreach ($this->shopPercent as $i => $percent): ?>'<?=($i+10);?>',<?php endforeach; ?>],
                        // datasetLabel: [<?php foreach ($this->shopPercent as $percent): ?>'<?=$percent['max']?>',<?php endforeach; ?>],
                        backgroundColor: [
                            <?php foreach ($this->shopPercent as $percent): ?>
                                color('<?=$percent['color']?>').alpha(0.5).rgbString(),
                            <?php endforeach; ?>
                        ],
                        yAxisID: "y-axis-1",
                        data: [
                            <?php foreach ($this->shopPercent as $percent): ?>
                                <?=$percent['cnt']; ?>,
                            <?php endforeach; ?>
                        ]
                    },
                ]

            },
            options: {
                onClick: function (event, array) {
                    document.location.href = '/admin/blanks?char_rate='+array[0]._model.label;
                    // console.log();
                },
                responsive: true,
                title:{
                    display:false,
                    text:"Chart.js Bar Chart - Multi Axis"
                },
                tooltips: {
                    mode: 'index',
                    intersect: true
                },
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        type: "linear",
                        display: true,
                        position: "left",
                        id: "y-axis-1",
                    }],
                }
            }
        });
    });
</script>