<div class="block">
    <div class="block-bg">

        <div class="container">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-0">
                <h1 style="text-align: center;">Check List</h1>

                <?php if ($this->error): ?>
                    <div class="alert alert-danger">Пользователя с данным логином и паролем не найдено</div>
                <?php endif; ?>

                <small>Для полдолжения необходимо авторизироватся</small>
                <form action="" method="post">
                    <input type="text" class="form-control" id="login" placeholder="Логин" name="login">
                    <input type="password" class="form-control" id="password" placeholder="Пароль" name="password">
                    <input type="submit" name="auth" class="btn btn-success btn-block" value="Войти">
                </form>
            </div>
        </div>
    </div>
</div>