<h1 style="margin-top: 0;">Все вопросы</h1>
<a href="#" class="js-control-question btn btn-sm btn-info" data-id="add">Добавить вопрос</a>

<hr>

<?php if ($this->questionsArray): ?>
    <?php foreach ($this->questionsArray as $categoryId => $question): ?>
        <?php if ($this->check_list_type != 'inventory'): ?>
            <h3>
                <?=(isset($this->categoryArray[$categoryId])) ? $this->categoryArray[$categoryId]['name'] : 'Вопросы без категории'; ?>
                <a href="#" class="js-delete-category" data-category_id="<?=$categoryId ?>"><i class="fa fa-trash"></i></a>
            </h3>
        <?php endif; ?>
        <div class="row">
            <?php foreach ($question as $q): ?>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <a href="javascript: void(0);" class="btn btn-default btn-block js-control-question" data-id="<?=$q['id'] ?>" style="text-align: left; margin-bottom: 3px; white-space: normal !important;">
                        <strong><?=$q['name'] ?></strong>
                        <br>
                        <small><i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;<?=$q['type_name'] ?>, <?=$q['rate'] ?></small>
                        <br>
                        <small style="color: #999999;">Нажмите для редактирования</small>
                    </a>
                </div>
            <?php endforeach; ?>
        </div>

    <?php endforeach; ?>
<?php else: ?>
    <div class="alert alert-warning">Вопросов пока нет.</div>
<?php endif; ?>