<div class="header">
    <h1 style="margin: 0;">Анкеты</h1>
    <a href="<?=$this->prevUrl ?>"><i class="fa fa-angle-double-left"></i></a>&nbsp;&nbsp;&nbsp;<?=Date_Service::Get()->getRuMonthName($this->date).', '.date('Y', strtotime($this->date)) ?>&nbsp;&nbsp;&nbsp;<a href="<?=$this->nextUrl?>"><i class="fa fa-angle-double-right"></i></a>
</div>

<form action="" method="get" class="js-form-filter form-inline">
    <input type="hidden" name="date" value="<?=$this->date?>">
    <input type="hidden" name="char_rate" value="<?=$this->char_rate?>">

    <label style="font-weight: normal;">
        Фильтр по городу
        <br>
        <select name="filter_city_id" class="form-control">
            <option value="0">--- Фильтрация по городу ---</option>
            <?php foreach ($this->cityArray as $city): ?>
                <option value="<?=$city['id'] ?>" <?php if ($city['selected']) print 'selected'; ?>><?=$city['name'] ?></option>
            <?php endforeach; ?>
        </select>
    </label>
    <?php if ($this->check_list_type == 'auditor'): ?>
        <label style="font-weight: normal;">
            Фильтр по ревизору
            <br>
            <select name="filter_auditor_id" class="form-control">
                <option value="0">--- Выберите аудитора ---</option>
                <?php foreach ($this->auditorArray as $auditor): ?>
                    <option value="<?=$auditor['id'] ?>" <?php if ($auditor['selected']) print 'selected'; ?>><?=$auditor['name'] ?></option>
                <?php endforeach; ?>
            </select>
        </label>
        <label style="font-weight: normal;">
            Фильтр по региональному менеджеру
            <br>
            <select name="filter_rm_id" class="form-control">
                <option value="0">--- Выберите регионального менеджера ---</option>
                <?php foreach ($this->rmArray as $user): ?>
                    <option value="<?=$user['id'] ?>" <?php if ($user['selected']) print 'selected'; ?>><?=$user['name'] ?></option>
                <?php endforeach; ?>
            </select>
        </label>
        <label style="font-weight: normal;">
            Откоментирована ТМ
            <br>
            <select name="filter_complete_comments" class="form-control" style="width: 100%;">
                <option value="0">Все</option>
                <option value="yes" <?php if ($this->filter_complete_comments == 'yes') print 'selected'; ?>>Да</option>
                <option value="no" <?php if ($this->filter_complete_comments == 'no') print 'selected'; ?>>Нет</option>
            </select>
        </label>
    <?php endif; ?>
    <?php if ($this->check_list_type == 'inventory'): ?>
        <label style="font-weight: normal;">
            Фильтр по главе инв. комисии
            <br>
            <select name="filter_president_id" class="form-control">
                <option value="0">--- Выберите главу инв. комисии ---</option>
                <?php foreach ($this->presidentArray as $president): ?>
                    <option value="<?=$president['id'] ?>" <?php if ($president['selected']) print 'selected'; ?>><?=$president['name'] ?></option>
                <?php endforeach; ?>
            </select>
        </label>
        <label style="font-weight: normal;">
            Фильтр по регионам
            <br>
            <select name="filter_region_id" class="form-control">
                <option value="0">--- Выберите регион ---</option>
                <?php foreach ($this->regionArray as $region): ?>
                    <option value="<?=$region['id'] ?>" <?php if ($region['selected']) print 'selected'; ?>><?=$region['name'] ?></option>
                <?php endforeach; ?>
            </select>
        </label>
    <?php endif; ?>
    <label style="font-weight: normal;">
        Заполнена
        <br>
        <select name="filter_auditor_complete" class="form-control" style="width: 100%;">
            <option value="0">Все</option>
            <option value="yes" <?php if ($this->filter_auditor_complete == 'yes') print 'selected'; ?>>Да</option>
            <option value="no" <?php if ($this->filter_auditor_complete == 'no') print 'selected'; ?>>Нет</option>
        </select>
    </label>

    <label style="font-weight: normal;">
        Фильтр по териториальному менеджеру
        <br>
        <select name="filter_tm_id[]" class="selectpicker" multiple data-live-search="true">
            <?php foreach ($this->tmArray as $user): ?>
                <option value="<?=$user['id'] ?>" <?php if (in_array($user['id'], $this->control_filter_tm_id)): ?>selected<?php endif; ?>><?=$user['name'] ?></option>
            <?php endforeach; ?>
        </select>
    </label>
</form>
<div class="js-data">

</div>

<script type="text/javascript">
    $(function () {
        $('.selectpicker').selectpicker({
            //style: 'btn-info',
            size: 10
        });



        $('.js-form-filter select').on('change', function () {
             $('.js-form-filter').submit();
        });
        $('.js-form-filter input[type="checkbox"]').on('change', function () {
             $('.js-form-filter').submit();
        });
        loading.show();
        $.post('/admin/blanks-ajax-load-data', $('.js-form-filter').serialize(), function (data) {
            $('.js-data').html(data);
            setTimeout(function () {
                loading.hide();
            }, 300);
        });
    });
</script>