<?php if ($this->blankArray): ?>
    <table class="table table-bordered" style="background: #ffffff;">
        <thead>
        <tr>
            <th width="10">#</th>
            <th>Город</th>
            <th>Адрес магазина</th>

            <?php if ($this->check_list_type == 'auditor'): ?>
                <th width="180px;">Ревизор</th>
                <th width="180px;">Региональный менеджер</th>
                <th width="180px;">Териториальный менеджер</th>
                <th width="180px;">Откоментирована ТМ</th>
                <th width="10px;">%</th>
            <?php endif; ?>
            <?php if ($this->check_list_type == 'inventory'): ?>
                <th>Глава инв. комисии</th>
                <th width="180px;">Регион</th>
            <?php endif; ?>
            <th width="180px;">Заполнена</th>

            <th width="120px;"><i class="fa fa-clock-o"></i></th>
            <th width="10"></th>
            <?php if ($this->user_role == 'tm'): ?>
                <th width="10"></th>
            <?php endif; ?>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($this->blankArray as $ba): ?>
            <tr>
                <td><?=$ba['shop']['number'] ?></td>
                <td><?=$ba['shop']['city'] ?></td>
                <td><?=$ba['shop']['address'] ?></td>
                <?php if ($this->check_list_type == 'auditor'): ?>
                    <td>
                        <?=$ba['auditor']['name']?>
                        <br>
                        <small><?=$ba['auditor']['login']?></small>
                    </td>
                    <td><?=$ba['shop']['rm']['name']?></td>
                    <td><?=$ba['shop']['tm']['name']?></td>
                    <td class="<? if($ba['tm_complete']): ?>bg-success<?php else: ?>bg-warning<?php endif; ?>" style="text-align: center;"><? if($ba['tm_complete']): ?><i class="fa fa-check"></i><?php else: ?><i class="fa fa-minus"></i><?php endif; ?></td>
                    <td style="text-align: center; vertical-align: middle"><strong><?=$ba['rate'] ?></strong></td>
                <?php endif; ?>
                <?php if ($this->check_list_type == 'inventory'): ?>
                    <td><?=$ba['shop']['president']['name'] ?></td>
                    <td><?=$ba['shop']['region'] ?></td>
                <?php endif; ?>

                <td <?php if(!$ba['auditor_complete']): ?>colspan="2"<?php endif; ?> class="<? if($ba['auditor_complete']): ?>bg-success<?php else: ?>bg-warning<?php endif; ?>" style="text-align: center;"><? if($ba['auditor_complete']): ?><i class="fa fa-check"></i><?php else: ?><i class="fa fa-minus"></i><?php endif; ?></td>
                <? if($ba['auditor_complete']): ?>
                    <td style="text-align: center;">
                        <small><?=$ba['compete_date'] ?></small>
                    </td>
                <?php endif; ?>
                <td><a href="<?=Engine_URL_Maker::Get()->makeUrlByContentId('admin-blank-view', ['id' => $ba['id']]) ?>" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="Просмотреть результат" target="_blank"><i class="fa fa-eye"></i></a></td>
                <?php if ($this->user_role == 'tm'): ?>
                    <td><a href="<?=Engine_URL_Maker::Get()->makeUrlByContentId('admin-blank-view', ['id' => $ba['id']]) ?>" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="Оставить комментарий по данной анкете" target="_blank"><i class="fa fa-comment-o"></i></a></td>
                <?php endif; ?>
            </tr>


        <?php endforeach; ?>
        </tbody>
    </table>
<?php else: ?>
    <div class="alert alert-info">Данных нет.</div>
<?php endif; ?>