<div class="well">
    <h4 style="margin-top: 0">
        <span class="pull-left">
            <small>Магазин:</small>
            <br>
            #<?=$this->shop['number'] ?>, <?=$this->shop['city'] ?>, <?=$this->shop['address'] ?>
        </span>
        <span class="pull-right">
            <small>Ревизор:</small>
            <br>
            <?=$this->auditor['name'] ?>, <?=$this->auditor['login'] ?>
        </span>
    </h4>
    <div class="clearfix"></div>
    <br>
    <span class="pull-left">
        Анкета на <?=Date_Service::Get()->getRuMonthName($this->add_date) ?>, <?=date('Y', strtotime($this->add_date)) ?>
        <br>
        Завершено: <?=$this->complete_date; ?>
    </span>
    <a href="<?=Engine_URL_Maker::Get()->makeUrlByContentIdGet('admin-blank-view', ['id' => $this->id], ['export' => 'xlsx']) ?>" class="pull-right"><small><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Скачать анкету в XLSX</small></a>
    <br>
    <br>
</div>

<form action="" method="get" style="margin-bottom: 3px;" class="form-inline">
    <input style="min-width: 200px;" type="text" name="search_question" class="form-control input-sm" value="<?=$this->control_search_question ?>" placeholder="Поиск по вопросам">
    <input type="submit" name="ok" class="btn btn-sm btn-default" value="Искать">
</form>

<?php $allQuestionCntBlank = 0; ?>
<?php $allRateBlank = 0; ?>
<?php $individualCnt = 0; ?>
<?php foreach ($this->questionsArray as $categoryId => $questions): ?>
    <table class="table table-bordered" style="background: #ffffff;">
        <thead>
            <tr class="bg-info">
                <th><h2 style="margin: 0;"><?=$this->categoryArray[$categoryId]['name'] ?></h2></th>
                <th width="10px;"><nobr><i class="fa fa-star-o"></i> Оценка</nobr></th>
                <th width="20%;">Примечание</th>
                <th width="20%;"><i class="fa fa-comment-o"></i> Комментарий ТМ</th>
                <th width="20%;"><i class="fa fa-file-photo-o"></i> Фотографии</th>
            </tr>
        </thead>
        <tbody>
            <?php $allQuestionCnt = 0; ?>
            <?php $allRate = 0; ?>
            <?php foreach ($questions as $q): ?>
                <?php if (!$q['individual']) {
                    $currentPercent = ($q['rate'] / $q['max_rate'] * 100);
                    if (Engine::Get()->getConfigField('check_list_type') == 'auditor') {
                        $currentPercent = floor($currentPercent);
                    }


                    $allQuestionCnt += 1;
                    $allRate += $currentPercent;

                    $allQuestionCntBlank += 1;
                    $allRateBlank += $currentPercent;
                } ?>
                <?php if ($q['individual']) $individualCnt++; ?>
                <?php if (!$q['hide']): ?>
                    <tr>
                        <td><?=$q['name'] ?></td>
                        <td style="text-align: left;">
                            <?php $percent = number_format(($q['rate'] / $q['max_rate'] * 100), 2, '.', ' '); ?>
                            <?php if (Engine::Get()->getConfigField('check_list_type') == 'auditor') {$percent = floor($percent); } ?>
                            <strong><nobr><?php if ($this->user_role == 'admin'): ?><a href="<?=Engine_URL_Maker::Get()->makeUrlByContentIdGet('blank-auditor', ['hash' => md5($this->id), 'question_number' => $q['id']], ['return' => $this->id, 'custom_rate' => $this->customRate]) ?>" data-toggle="tooltip" title="Изменить оценку"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<?php endif; ?><?php if ($q['individual']): ?><span data-toggle="tooltip" title="Индивидуально">&mdash;</span><?php else: ?><?=$percent ?>%<?php endif; ?></nobr></strong>
                        </td>
                        <td>
                            <?=$q['note'] ?>
                        </td>
                        <td class="<?php if ($q['rate'] < $q['max_rate'] && !$q['individual']): ?>bg-danger text-danger<?php endif; ?>">
                            <?php if ($this->user_role == 'tm'): ?><a href="javascript: void(0);" class="js-edit-comment" data-id="<?=$q['id'] ?>"><?php endif; ?><?=($q['comment']) ? $q['comment'] : '&mdash;'; ?><?php if ($this->user_role == 'tm'): ?></a><?php endif; ?>
                        </td>
                        <td style="vertical-align: top;">
                            <?php foreach ($q['images'] as $oi): ?>
                                <a href="<?=$oi['path'] ?>" title="<a href='javascript: void(0);' class='js-comment-image' data-id='<?=$oi['id']?>'><i class='fa fa-comment'></i> Комментарии</a> :: <a href='javascript: void(0);'  class='js-delete-image' data-id='<?=$oi['id']?>'><i class='fa fa-trash'></i> Удалить</a>" rel="group" class="js-box"><img src="<?=$oi['path'] ?>" class="once-image" data-id="<?=$oi['id'] ?>" alt="" style="width: 50px;"></a>
                            <?php endforeach; ?>
                        </td>
                    </tr>
                <?php endif; ?>
            <?php endforeach; ?>
        <tr>
            <?php if ($this->control_search_question): ?>
                <td colspan="5">
                    <small><i class="fa fa-search"></i> Во время поиск, итоговые данные не отображаются</small>
                </td>
            <?php else: ?>
                <td  style="text-align: right;"><strong>Всего:</strong></td>
                <td style="text-align: center;" class="bg-success">
                    <strong>
                        <?php $allPercent = number_format(($allRate / $allQuestionCnt), 2, '.', ' ') ?>
                        <?php if (Engine::Get()->getConfigField('check_list_type') == 'auditor') {$allPercent = floor($allPercent); } ?>
                        <?=$allPercent; ?>%
                    </strong>
                </td>
                <td colspan="3"></td>
            <?php endif; ?>
        </tr>
        </tbody>
    </table>
<?php endforeach; ?>


<div class="well">
    <small>Другие фотографии</small>
    <br>
    <?php foreach ($this->otherImageArray as $oi): ?>
        <a href="<?=$oi['path'] ?>" title="<a href='javascript: void(0);' class='js-comment-image' data-id='<?=$oi['id']?>'><i class='fa fa-comment'></i> Комментарии</a> :: <a href='javascript: void(0);'  class='js-delete-image' data-id='<?=$oi['id']?>'><i class='fa fa-trash'></i> Удалить</a>" rel="group-all"  class="js-box"><img src="<?=$oi['path'] ?>" class="once-image" data-id="<?=$oi['id'] ?>" alt="" style="width: 50px;"></a>
    <?php endforeach; ?>
    <div class="clearfix"></div>
</div>
<?php if ($this->control_search_question): ?>
    <div class="alert alert-warning">
        <i class="fa fa-search fa-2x"></i>
        <br>
        <small>Во время поиск, итоговые данные не отображаются</small>
    </div>
<?php else: ?>
    <div class="well">
        <small>Общая оценка:</small>
        <h1 style="margin: 0;">
            <?php if ($this->user_role == 'admin'): ?>
                <a href="#" class="js-editable" data-title="Введите новую оценку, %"  data-pk="<?=$this->control_id;?>" data-value="<?=$this->rate;?>" ><?=$this->rate ?></a>%
            <?php else: ?>
                <?=$this->rate ?>%
            <?php endif; ?>
        </h1>

        <?php if ($this->user_role == 'admin'): ?>
            <?php if ($this->customRate): ?>
                Оценка установлена вручную. <a href="/admin/blank/<?=$this->control_id ?>?recalculate=1">Убрать оценку установленную вручную, и пересчитать оценку правильно</a>
            <?php endif; ?>
        <?php endif; ?>
    </div>
<?php endif; ?>


<script type="text/javascript">
    $(function () {
        $('.js-editable').editable({
            onblur: 'submit',
            url: '<?=Engine_URL_Maker::Get()->makeUrlByContentIdGet('admin-blank-view', ['id' => $this->control_id], ['edit_rate' => 1]) ?>',
            placement: 'bottom',
            success: function(response, newValue) {
                // document.location.reload();
            }
        });
        
        // $('.js-edit-comment').on('click', function () {
        //     var element = $(this);
        //     var form = $('<form/>').attr('method', 'post')
        //         .append($('<div/>').addClass('modal-body').append($('<strong/>').text('Комментарий')).append($('<input/>').attr({'name': 'change_comment_id', 'value': element.data('id'), 'type': 'hidden'})).append($('<textarea/>').attr('name', 'comment').addClass('form-control').val(element.html())))
        //         .append($('<div/>').addClass('modal-footer').append($('<input/>').addClass('btn btn-sm btn-default').attr({'value': 'Save', 'type': 'submit', 'name': 'update_comment'})))
        //
        //     standard_modal.setContent(form).setTitle('Комментирование').show();
        // })
        function open_image(id, group) {

        }

        $('.js-open-image').on('click', function (e) {
            e.preventDefault();
            var element = $(this);
            var id = element.data('id')
            var group = element.data('group');

            open_image(id, group);

        })
    });
</script>