<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 style="margin: 0">Пользователи</h3></div>
            <div class="list-group">
                <?php foreach ($this->usersArray as $user): ?>
                    <?php if ($user['deleted']) continue; ?>
                    <a href="<?=Engine_URL_Maker::Get()->makeUrlByContentId('admin-users', ['id' => $user['id']]) ?>" class="list-group-item <?php if ($user['id'] == $this->control_id) print 'list-group-item-info'; ?>">
                        <strong><?=$user['name'] ?></strong>
                        <br>
                        <small><?=$user['role']['name'] ?></small>
                    </a>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <?php if ($this->control_id): ?>
            <form action="" method="post">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="name">ФИО</label>
                            <input type="text" class="form-control" id="name" name="name" value="<?=$this->control_name ?>">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="login">Логин</label>
                            <input type="text" class="form-control" id="login" name="login" value="<?=$this->control_login ?>">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="role">Роль</label>
                            <select name="role" id="role" class="form-control">
                                <?php foreach (Auth_Service::Get()->getRoleArray() as $index => $name): ?>
                                    <option value="<?=$index ?>" <?php if ($this->control_role == $index) print 'selected'; ?>><?=$name; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="password">Пароль</label>
                            <input type="password" class="form-control" id="password" name="password">
                            <?php if ($this->control_id != 'add'): ?>
                                <small>Не заполняйте это поле что бы не менять пароль</small>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <input type="submit" name="ok" value="Save" class="btn btn-sm btn-default">
                <?php if ($this->control_id != 'add'): ?>
                    <input type="submit" name="delete" value="Delete" class="btn btn-sm btn-danger" onclick="return confirm('Вы уверены что хотите удалить этого пользователя?')">
                <?php endif; ?>
            </form>
        <?php else: ?>
            <div class="alert alert-info">
                Для редактирования информации выберите пользоватея
                <br>
                <a href="<?=Engine_URL_Maker::Get()->makeUrlByContentId('admin-users', ['id' => 'add']) ?>">или добавьте нового</a>
            </div>
        <?php endif; ?>
    </div>
</div>