body {
    background: url("/_images/grey-texture.jpg");
}

.block {
    margin-top: 20vh;
}

.block img {
    display: block;
    max-width: 400px;
    margin: 20px auto;
}

.block input {
    margin-bottom: 5px;
}