body {
    background: url("/_images/grey-texture.jpg");
}

.once-image {
    display: block;
    margin: 0 10px 10px 0;
    border: 1px solid #333333;
    max-width: 100px;
    float: left;
    cursor: pointer;
}

th {
    vertical-align: middle !important;
    text-align: center;
    font-size: 16px;
}

th h2, th {
    font-weight: 200;
}

.fancybox-title, .fancybox-title a {
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
}

.round-button {
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    text-align: center;
    line-height: 28px;
    margin-top: 2px;
    border-radius: 50%;
    background: #31708f;
    color: #ffffff;
}