<div class="well">
    <h4 style="margin-top: 0;">
        Магазин #<?=$this->shop['number'] ?>, <?=$this->shop['city'] ?>, <?=$this->shop['address']?>
    </h4>
    Анкета на <?=Date_Service::Get()->getRuMonthName($this->add_date) ?>, <?=date('Y', strtotime($this->add_date)) ?> год.
</div>

<?php if ($this->allComplete): ?>
    <div class="well well-sm text-success" style="text-align: center;">
        <h2 style="text-align: center; margin-top: 0;" >
            <i class="fa fa-check fa-3x"></i>
            <br>
            Анкета заполнена
        </h2>
        Спасибо!
    </div>
<?php endif; ?>
<hr>


<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <?php if ($question = $this->currentQuestion): ?>
            <form action="" method="post" enctype="multipart/form-data">
                <input type="hidden" name="section" value="">
                <input type="hidden" name="blank_question_id" value="<?=$question['id'] ?>">
                <input type="hidden" name="blank_id" value="<?=$this->control_id; ?>">
                <input type="file" style="display: none;" name="upload_once_file">
            </form>
            <form action="" method="post">
                <h2 style="margin-top: 0;"><?=$question['question'] ?></h2>
                Примечание
                <textarea name="note" class="form-control" rows="3"><?=$question['note'] ?></textarea>

                <br>
                <a href="#" class="btn btn-sm btn-default js-upload-photo"  data-section="question" style="margin-bottom: 3px;"><i class="fa fa-camera-retro"></i> Добавление фотографий (если нужно)</a>
                <div class="js-image-row">
                    <?php foreach ($this->imageArray as $oi): ?>
                        <a href="<?=$oi['path'] ?>" title="<a href='javascript: void(0);' class='js-comment-image' data-id='<?=$oi['id']?>'><i class='fa fa-comment'></i> Комментарии</a> :: <a href='javascript: void(0);'  class='js-delete-image' data-id='<?=$oi['id']?>'><i class='fa fa-trash'></i> Удалить</a>" rel="group"  class="js-box"><img src="<?=$oi['path'] ?>" class="once-image" data-id="<?=$oi['id'] ?>" alt="" style="width: 50px;"></a>
                    <?php endforeach; ?>
                </div>
                <div class="clearfix"></div>

                <?php if ($this->custom_rate): ?>
                    <span class="text-info">Общая оценка была изменена вручную. После изменения оценки на 1 вопросе оценка должна измениться. Пересчитать общую оценку?</span>
                    <br>
                    <label>
                        <input type="radio" name="recalculate" value="1"> Да
                    </label>
                    <label>
                        <input type="radio" name="recalculate" value="0" checked> Нет
                    </label>

                <?php else: ?>
                    <input type="hidden" name="recalculate" value="1">
                <?php endif; ?>



                <div style="border-top: 1px solid #cccccc; padding: 10px 0;">
                    <?php if ($question['type'] == 'yes_no'): ?>
                        <input type="submit" name="ok_yes" value="Да" class="btn btn-success">
                        <input type="submit" name="ok_no" value="Нет" class="btn btn-warning">
                        <?php if ($this->check_list_type == 'auditor'): ?>
                            <input type="submit" name="ok_individually" value="Индивидуально" class="btn btn-default">
                        <?php endif; ?>
                    <?php endif; ?>

                    <?php if ($question['type'] == 'rate'): ?>
                        <div class="btn-group btn-group-sm">
                            <?php for ($i = 0; $i <= $question['max_rate']; $i++): ?>
                                <input type="submit" name="ok_rate" class="btn btn-default" value="<?=$i ?>">
                            <?php endfor; ?>
                        </div>
                    <?php endif; ?>
                </div>
            </form>
        <?php elseif ($this->allComplete): ?>
            <div class="alert alert-success">Для того что бы изменить Ваш ответ выберите вопрос.</div>
        <?php else: ?>
            <div class="alert alert-info">
                <h1 style="margin-top: 0">Анкета не заполнена</h1>
                Нужно ответить на все вопросы.
            </div>
        <?php endif; ?>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a href="#" class="btn btn-block btn-default js-upload-photo"  data-section="blank" style="margin-bottom: 3px; text-align: left;"><i class="fa fa-camera-retro"></i> Добавление фотографий для всей анкеты</a>

        <div class="js-image-row-blank">
            <?php foreach ($this->imageBlankArray as $oi): ?>
                <a href="<?=$oi['path'] ?>" title="<a href='javascript: void(0);' class='js-comment-image' data-id='<?=$oi['id']?>'><i class='fa fa-comment'></i> Комментарии</a> :: <a href='javascript: void(0);'  class='js-delete-image' data-id='<?=$oi['id']?>'><i class='fa fa-trash'></i> Удалить</a>" rel="group-all"  class="js-box"><img src="<?=$oi['path'] ?>" class="once-image" data-id="<?=$oi['id'] ?>" alt="" style="width: 50px;"></a>
            <?php endforeach; ?>
        </div>
        <div class="label label-info">Для добавления комментария нажмине на фото</div>
        <br>
        <br>
        <div class="clearfix"></div>



        <?php foreach ($this->allQuestionsArray as $categoryId => $questions): ?>
        <div class="list-group">
            <?php if ($this->allCategoryArray[$categoryId]['name']): ?>
            <div class="list-group-item list-group-item-info"><h3 style="margin: 0;"><?=$this->allCategoryArray[$categoryId]['name'] ?></h3></div>
            <?php endif; ?>

            <?php foreach ($questions as $q): ?>
                <a href="<?=Engine_URL_Maker::Get()->makeUrlByContentId('blank-auditor', ['hash' => md5($this->control_id), 'question_number' => $q['id']]) ?>" class="list-group-item <?php if ($q['active']): ?>list-group-item-success<?php endif; ?> <?php if (!$this->allComplete && !$q['progress'] && !$q['active'] && !$this->questionNumber): ?>list-group-item-danger<?php endif; ?>"><?php if ($q['progress']): ?><i class="fa fa-check"></i>&nbsp;&nbsp;<?php endif; ?><?=$q['question'] ?></a>
            <?php endforeach; ?>
        </div>
        <?php endforeach; ?>
    </div>

</div>