<h3 style="margin-top: 0;">Вы действительно хотите заполнить анкету для нагазина #<?=$this->shop_number?> (<?=$this->shop_name ?>)</h3>

<form action="" method="post">
    <?php if ($this->check_list_type == 'inventory'): ?>
        <strong>Продавцы</strong>
        <textarea name="sellers" class="form-control" rows="3"></textarea>
        <br>
    <?php endif; ?>
    
    <input type="submit" class="btn btn-sm btn-success" name="ok" value="Да">
    <a href="/" class="btn btn-sm btn-danger">Нет</a>
</form>
