<div class="alert alert-info">
    <h2 style="margin-top: 0;">Для входа в админ панель вам потребуются эти данные:</h2>
    Логин: <strong><?=Engine_Content::Get()->getArgument('login');?></strong>
    <br>
    Пароль: <strong><?=Engine_Content::Get()->getArgument('password');?></strong>

    <br>
    <small>Мы настоятельно рекомендуем записать жти данные!</small>
</div>
<a href="<?=Engine_URL_Maker::Get()->makeUrlByContentId('blank-auditor', ['hash' => Engine_Content::Get()->getArgument('hash')]) ?>" class="btn btn-sm btn-default">Продолжить</a>