<div class="container">
    <nav class="navbar navbar-inverse" style="margin: 15px 0 15px 0;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Check List</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <?php if ($this->access_admin): ?>
            <ul class="nav navbar-nav">
                <li><a href="/admin/">Перейти в панель управления</a></li>
            </ul>
            <?php endif; ?>

            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text">+38 (093) 576 55 13</li>
            </ul>
        </div>
    </nav>

    <?=$this->content ?>
</div>

