<div class="container-fluid">
    <div style="padding: 10px; margin: 0 -15px 0 -15px; background: rgba(0, 0, 0, 0.8); ">
        <div class="title" style="float: left; margin-right: 20px; text-align: center;">
            <span style="line-height: 20px; font-size: 22px; display: block; margin-top: -2px; color: #ffffff;">Check List</span>
            <small style="margin-top: 0; color: #ffffff; display: block; font-weight: 100;">For <?=$this->check_list_type ?></small>
        </div>
        <?php foreach ($this->menuArray as $menu): ?>
            <a href="<?=$menu['url'] ?>" class="btn btn-default btn-sm <?php if ($menu['active']) print 'active';?>"><?=$menu['name'] ?></a>
        <?php endforeach; ?>
        <a href="<?=Engine_URL_Maker::Get()->makeUrlByContentId('logout') ?>" class="pull-right btn btn-sm btn-warning">Выход из системы</a>
    </div>
    <hr style="margin: 10px 0 5px 0;">

    <?=$this->content; ?>
</div>