<div class="header">
    <h1 style="margin: 0;" class="pull-left">SMART REPORT</h1>
    <div class="pull-right" style="margin-top: 12px; display: block;">
        <a href="<?=$this->prevUrl ?>"><i class="fa fa-angle-double-left"></i></a>&nbsp;&nbsp;&nbsp;<?=Date_Service::Get()->getRuMonthName($this->date).', '.date('Y', strtotime($this->date)) ?>&nbsp;&nbsp;&nbsp;<a href="<?=$this->nextUrl?>"><i class="fa fa-angle-double-right"></i></a>
    </div>

    <div class="clearfix"></div>

    <ol class="breadcrumb" style="margin: 10px 0 0 0;">
        <?php foreach ($this->steps as $step): ?>
            <?php if ($step['active']): ?>
                <li><a href="javascript: void(0);"><?=$step['name'] ?></a></li>
            <?php else: ?>
                <li class="active"><?=$step['name'] ?></li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ol>
</div>


<?php if ($this->step == 4): ?>
    <?php if ($this->resultArray): ?>
        <table class="table table-bordered" style="background: #ffffff;">
            <?php foreach ($this->resultArray as $result): ?>
                <tr>
                    <td width="80%;"><?=$result['name'] ?></td>
                    <td width="80%;"><?=$result['total_rate'] ?>%</td>
                </tr>
            <?php endforeach;; ?>
        </table>
    <?php else: ?>
        <div class="alert alert-info">Отчет не сформирован. Данных по указанных параметрах нет.</div>
    <?php endif; ?>
<?php else: ?>

    <form action="" method="get">
        <input type="hidden" name="step" value="<?php print ($this->step + 1); ?>">
        <?php if ($this->step == 1): ?>
            <div data-toggle="buttons">
                <label class="btn btn-default btn-sm active" style="margin-bottom: 3px;">
                    <input type="radio" name="step_1_value" value="questions" checked > Вопросы
                </label>
                <label class="btn btn-default btn-sm" style="margin-bottom: 3px;">
                    <input type="radio" name="step_1_value" value="blank"  > Анкеты
                </label>
                <label class="btn btn-default btn-sm" style="margin-bottom: 3px;">
                    <input type="radio" name="step_1_value" value="regions"  > Регионы
                </label>
            </div>
        <?php else: ?>
            <input type="hidden" name="step_1_value" value="<?=$this->control_step_1_value ?>">
        <?php endif; ?>


        <?php if ($this->step == 2): ?>
            <?php if ($this->control_step_1_value == 'questions'): ?>
                <div data-toggle="buttons">
                    <label class="btn btn-default btn-sm active" style="margin-bottom: 3px;">
                        <input type="radio" name="step_2_value" value="all" checked > Все
                    </label>

                    <?php foreach(Questions_Service::Get()->getAllQuestionsArray() as $question): ?>
                        <label class="btn btn-default btn-sm" style="margin-bottom: 3px;">
                            <input type="radio" name="step_2_value" value="<?=$question['id']?>" > <?=$question['name'] ?>
                        </label>
                    <?php endforeach; ?>
                    <div class="clearfix"></div>
                    <br>
                    <small>Будут учтены только заполненные анкеты</small>
                </div>
            <?php endif; ?>

            <?php if ($this->control_step_1_value == 'blank'): ?>
                <div data-toggle="buttons">
                    <label class="btn btn-default btn-sm active" style="margin-bottom: 3px;">
                        <input type="radio" name="step_2_value" value="all" checked > Все
                    </label>

                    <label class="btn btn-default btn-sm" style="margin-bottom: 3px;">
                        <input type="radio" name="step_2_value" value="complete" > Заполненные
                    </label>

                    <label class="btn btn-default btn-sm" style="margin-bottom: 3px;">
                        <input type="radio" name="step_2_value" value="no_complete" > Не заполненные
                    </label>
                </div>
            <?php endif; ?>
            <?php if ($this->control_step_1_value == 'regions'): ?>
                <div data-toggle="buttons">
                    <label class="btn btn-default btn-sm active" style="margin-bottom: 3px;">
                        <input type="radio" name="step_2_value" value="complete" checked > По данным из заполненных анкет
                    </label>
                    <label class="btn btn-default btn-sm" style="margin-bottom: 3px;">
                        <input type="radio" name="step_2_value" value="all" > По данным из заполненных и не заполненных анкет
                    </label>
                </div>
            <?php endif; ?>
        <?php else: ?>
            <input type="hidden" name="step_2_value" value="<?=$this->control_step_2_value ?>">
        <?php endif; ?>

        <?php if ($this->step == 3): ?>
            <div data-toggle="buttons">
                <label class="btn btn-default btn-sm active" style="margin-bottom: 3px;">
                    <input type="radio" name="step_3_value" value="all" checked > Все
                </label>

                <label class="btn btn-default btn-sm" style="margin-bottom: 3px;">
                    <input type="radio" name="step_3_value" value="rate_big_80" > Оценка больше 80%
                </label>

                <label class="btn btn-default btn-sm" style="margin-bottom: 3px;">
                    <input type="radio" name="step_3_value" value="rate_min_80" > Оценка меньще 80%
                </label>

            </div>
        <?php else: ?>
            <input type="hidden" name="step_3_value" value="<?=$this->control_step_3_value ?>"/>
        <?php endif; ?>

        <hr>
        <input type="submit" name="ok" class="btn btn-sm btn-info" value="Дальше">
    </form>

<?php endif; ?>
