<div class="header">
    <a href="#" class="js-control-shops btn btn-sm btn-info pull-right" style="display: block; margin-top: 5px;" data-id="add">Добавить магазин</a>
    <h1 style="margin: 0;" class="pull-left">Все магазины</h1>
    <div class="clearfix"></div>
</div>

<hr>
<form action="" method="get" class="js-form-filter form-inline">
    <label style="font-weight: normal;">
        Фильтр по городу
        <br>
        <select name="filter_city_id" class="form-control">
            <option value="0">--- Фильтрация по городу ---</option>
            <?php foreach ($this->cityArray as $city): ?>
                <option value="<?=$city['id'] ?>" <?php if ($city['selected']) print 'selected'; ?>><?=$city['name'] ?></option>
            <?php endforeach; ?>
        </select>
    </label>
    <?php if ($this->check_list_type == 'auditor'): ?>
        <label style="font-weight: normal;">
            Фильтр по региональному менеджеру
            <br>
            <select name="filter_rm_id" class="form-control">
                <option value="0">--- Выберите регионального менеджера ---</option>
                <?php foreach ($this->rmArray as $user): ?>
                    <option value="<?=$user['id'] ?>" <?php if ($user['selected']) print 'selected'; ?>><?=$user['name'] ?></option>
                <?php endforeach; ?>
            </select>
        </label>
        <label style="font-weight: normal;">
            Фильтр по териториальному менеджеру
            <br>
            <select name="filter_tm_id" class="form-control">
                <option value="0">--- Выберите териториального менеджера ---</option>
                <?php foreach ($this->tmArray as $user): ?>
                    <option value="<?=$user['id'] ?>" <?php if ($user['selected']) print 'selected'; ?>><?=$user['name'] ?></option>
                <?php endforeach; ?>
            </select>
        </label>

        <label style="font-weight: normal;">
            Фильтр по ФОП
            <br>
            <select name="filter_fop_id" class="form-control">
                <option value="0">--- Выберите ФОП ---</option>
                <?php foreach ($this->fopArray as $fop): ?>
                    <option value="<?=$fop['id'] ?>" <?php if ($fop['selected']) print 'selected'; ?>><?=$fop['name'] ?></option>
                <?php endforeach; ?>
            </select>
        </label>
    <?php endif; ?>
    <?php if ($this->check_list_type == 'inventory'): ?>
        <label style="font-weight: normal;">
            Фильтр по главе комисии
            <br>
            <select name="filter_president" class="form-control">
                <option value="0">--- Выберите главу инв. комисии ---</option>
                <?php foreach ($this->presidentArray as $president): ?>
                    <option value="<?=$president['id'] ?>" <?php if ($president['selected']) print 'selected'; ?>><?=$president['name'] ?></option>
                <?php endforeach; ?>
            </select>
        </label>
        <label style="font-weight: normal;">
            Фильтр по региону
            <br>
            <select name="filter_region" class="form-control">
                <option value="0">--- Выберите регион ---</option>
                <?php foreach ($this->region_array as $region): ?>
                    <option value="<?=$region['id'] ?>" <?php if ($region['selected']) print 'selected'; ?>><?=$region['name'] ?></option>
                <?php endforeach; ?>
            </select>
        </label>

    <?php endif; ?>
</form>

<?php if ($this->shopsArray): ?>
    <table class="table table-bordered" style="background: #ffffff">
        <thead>
            <tr>
                <th width="10">#</th>
                <th width="200px;">Город</th>
                <th>Адрес</th>
                <?php if ($this->check_list_type == 'auditor'): ?>
                    <th width="230px;">ФОП</th>
                    <th width="230px;">Териториальный менеджер</th>
                    <th width="230px;">Региональный менеджер</th>
                <?php endif; ?>
                <?php if ($this->check_list_type == 'inventory'): ?>
                    <th width="230px;">Глава комисии</th>
                    <th width="230px;">Регион</th>
                <?php endif; ?>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->shopsArray as $s): ?>
                <tr>
                    <td>
                        <a href="javascript: void(0);" class="js-control-shops" data-id="<?=$s['id'] ?>"><?=$s['number'] ?></a>
                    </td>
                    <td><a href="javascript: void(0);" class="js-control-shops" data-id="<?=$s['id'] ?>"><?=$s['city'] ?></a></td>
                    <td><a href="javascript: void(0);" class="js-control-shops" data-id="<?=$s['id'] ?>"><?=$s['address'] ?></a></td>

                    <?php if ($this->check_list_type == 'auditor'): ?>
                        <td><?php if ($s['fop']): ?><?=$s['fop'] ?><?php else: ?>&mdash;<?php endif; ?></td>
                        <td><?php if ($s['tm']): ?><?=$s['tm']['name'] ?><?php else: ?>&mdash;<?php endif; ?></td>
                        <td><?php if ($s['rm']): ?><?=$s['rm']['name'] ?><?php else: ?>&mdash;<?php endif; ?></td>
                    <?php endif; ?>
                    <?php if ($this->check_list_type == 'inventory'): ?>
                        <td><?=$s['president']['name'] ?></td>
                        <td><?=$s['region'] ?></td>
                    <?php endif; ?>

                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<?php else: ?>
    <div class="alert alert-warning">Список магазинов пуст.</div>
<?php endif; ?>


<script type="text/javascript">
    $(function () {
        $('.js-form-filter select').on('change', function () {
            $('.js-form-filter').submit();
        });
    });
</script>
