<h1>Выберите магазин, для проведения ревизии</h1>
<table class="table table-bordered" style="background: #ffffff;">
    <thead>
        <tr>
            <th width="10">#</th>
            <th width="200px;">Город</th>
            <th width="200px;">Адрес</th>
            <th>Региональный менеджер</th>
            <th>Ревизор</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->blankArray as $blank): ?>
            <?php $confirmUrl = Engine_URL_Maker::Get()->makeUrlByContentId('blank-confirm-start', ['blank_hash' => md5($blank['id'])]); ?>
            <tr class="<?php if ($blank['auditor']) print 'bg-danger'; ?>"  <?php if (!$blank['auditor']): ?>style="cursor: pointer;" onclick="document.location.href='<?=$confirmUrl;?>'"<?php endif; ?>>
                <td>
                    <?php if (!$blank['auditor']): ?><a href="<?=$confirmUrl ?>"><?php endif; ?>
                        <?=$blank['shop']['number'] ?>
                    <?php if (!$blank['auditor']): ?></a><?php endif; ?>
                </td>
                <td>
                    <?php if (!$blank['auditor']): ?><a href="<?=$confirmUrl ?>"><?php endif; ?>
                        <?=$blank['shop']['city'] ?>
                    <?php if (!$blank['auditor']): ?></a><?php endif; ?>
                </td>
                <td>
                    <?php if (!$blank['auditor']): ?><a href="<?=$confirmUrl ?>"><?php endif; ?>
                        <?=$blank['shop']['address'] ?>
                    <?php if (!$blank['auditor']): ?></a><?php endif; ?>
                </td>
                <td>
                    <?php if (!$blank['auditor']): ?><a href="<?=$confirmUrl ?>"><?php endif; ?>
                        <?=$blank['shop']['rm']['name'] ?>
                    <?php if (!$blank['auditor']): ?></a><?php endif; ?>
                </td>
                <td>
                    <?=($blank['auditor']) ? $blank['auditor']['name'] : '&mdash;' ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>